@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.2rem;
}

/* header section */

.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}

.logo-icon {
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text {
    font-size: 2rem;
    font-weight: bold;
}

.nav {
    display: none;
    align-items: center;
    gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .nav {
        display: flex;
    }
}

.nav-link {
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover {
    color: var(--link-color);
    border-bottom: 2px solid var(--link-color);
    border-radius: 5px;
}

.contact-button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);

    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width: 768px){
    .contact-button{
        display: flex;
    }
    
}

.contact-button:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.menu-button {
    display: none;
    border: none;
    align-items: center;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 0.9rem;
}

@media screen and (max-width: 768px) {
    .menu-button {
        display: flex;
        background: none;
        cursor: pointer;
    }
}
.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}

/* hero section */

.main-section{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-description{
    font-size: 1.13rem;
    color: var(--dark-gray);
}

.button-group{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.start-button, .tour-button{
    border: none;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    transform: all 0.1s;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.tour-button{
    background-color: var(--dark-gray);
}

.start-button:hover {
    background-color: var(--accent-color);
}
.tour-button:hover {
    background-color: #444;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
}

.section-image{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .main-section{
        flex-direction: row;
    }

    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .button-group{
        justify-content: flex-start;
    }
    .section-label{
        font-size: 0.9rem;
    }
    .section-title{
        font-size: 3rem;
    }
    .image-container{
        height: 65vh;
    }
    .section-description{
        font-size: 1.1rem;
        color: var(--gray);
        width: 79%;
    }
}

.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;
}

.company-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem 2.5rem;
}

.company-logo{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray);
    gap: 0.5rem;
}

.svg-img{
    height: 1.56rem;
}

.logo-txt{
    font-size: 1rem;
}

@media screen and (min-width:640px) {
    .company-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .company-title{
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--text-color);
    }
}

/* Card Part */

.feature-container{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}

.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-title{
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: bold;
}

.main-description{
    color: var(--gray);
    font-size: 1rem;
}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1.3rem;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3f83f8;
    padding: 1.6rem;
    border-radius: 1rem;
    gap: 1rem;
}

.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-svg{
    height: 1.5rem;
    width: 1.5rem;
}

.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-title{
    color: var(--light-gray);
    font-size: 1.1rem;
    font-weight: bold;
}

.feature-description{
    color: var(--light-gray);
    font-size: 0.9rem;
}

.feature-card:nth-child(2){
    background-color: #4a90e2;
}

.feature-card:nth-child(2){
    background-color: #ff6289;
}

.feature-card:nth-child(3){
    background-color: #fcbf58;
}

.feature-card:nth-child(4){
    background-color: #44bfc3;
}

.feature-card:nth-child(5){
    background-color: #77b05d;
}

.feature-card:nth-child(6){
    background-color: #7d78b1;
}

@media screen and (max-width:768px) {
    .feature-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}