@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.2rem;
}

/* header section */

.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}

.logo-icon {
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text {
    font-size: 2rem;
    font-weight: bold;
}

.nav {
    display: none;
    align-items: center;
    gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .nav {
        display: flex;
    }
}

.nav-link {
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover {
    color: var(--link-color);
    border-bottom: 2px solid var(--link-color);
    border-radius: 5px;
}

.contact-button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);

    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width: 768px){
    .contact-button{
        display: flex;
    }
    
}

.contact-button:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.menu-button {
    display: none;
    border: none;
    align-items: center;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 0.9rem;
}

@media screen and (max-width: 768px) {
    .menu-button {
        display: flex;
        background: none;
        cursor: pointer;
    }
}
.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}

/* hero section */

.main-section{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-description{
    font-size: 1.13rem;
    color: var(--dark-gray);
}

.button-group{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.start-button, .tour-button{
    border: none;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    transform: all 0.1s;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.tour-button{
    background-color: var(--dark-gray);
}

.start-button:hover {
    background-color: var(--accent-color);
}
.tour-button:hover {
    background-color: #444;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
}

.section-image{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .main-section{
        flex-direction: row;
    }

    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .button-group{
        justify-content: flex-start;
    }
    .section-label{
        font-size: 0.9rem;
    }
    .section-title{
        font-size: 3rem;
    }
    .image-container{
        height: 65vh;
    }
    .section-description{
        font-size: 1.1rem;
        color: var(--gray);
        width: 79%;
    }
}

.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;
}

.company-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem 2.5rem;
}

.company-logo{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray);
    gap: 0.5rem;
}

.svg-img{
    height: 1.56rem;
}

.logo-txt{
    font-size: 1rem;
}

@media screen and (min-width:640px) {
    .company-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .company-title{
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--text-color);
    }
}

/* Card Part */

.feature-container{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}

.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-title{
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: bold;
}

.main-description{
    color: var(--gray);
    font-size: 1rem;
}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1.3rem;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3f83f8;
    padding: 1.6rem;
    border-radius: 1rem;
    gap: 1rem;
}

.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-svg{
    height: 1.5rem;
    width: 1.5rem;
}

.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-title{
    color: var(--light-gray);
    font-size: 1.1rem;
    font-weight: bold;
}

.feature-description{
    color: var(--light-gray);
    font-size: 0.9rem;
}

.feature-card:nth-child(2){
    background-color: #4a90e2;
}

.feature-card:nth-child(2){
    background-color: #ff6289;
}

.feature-card:nth-child(3){
    background-color: #fcbf58;
}

.feature-card:nth-child(4){
    background-color: #44bfc3;
}

.feature-card:nth-child(5){
    background-color: #77b05d;
}

.feature-card:nth-child(6){
    background-color: #7d78b1;
}

@media screen and (max-width:769px) {
    .feature-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Testimonial part */

.testimonial-container{
    background-color: var(--background-color);
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.testimonial-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
}

.testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.5rem;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(170, 163, 163);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid blue;
}

.testimonial-avatar img{
    height: 5rem;
    width: 5rem;
}

.testimonila-text {
    font-size: 0.875rem;
    color: var(--text-color);
}

.testimonial-name{
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: bold;  
}

.testimonial-desc{
    font-size: 0.875rem;
    color: var(--dark-gray);
}

/* News letter container */

.newsletter-container{
    background-color: var(--background-color);
    /* padding: 2rem; */
    max-width: 1280px;
    height: 43vh;
    margin: 0 auto;
}

.newsletter-content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.news-left{
    width: 50%;
    height: 100%;
    position: relative;

    display: none;
}

.news-left img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: flex-start;
    width: 98%;
}

@media screen and (min-width: 789px) {
    .news-left{
        display: block;
        width: 50%;
    }
    .news-right{
        width: 50%;
    }
    .newsletter-container{
        padding: 2rem;
    }
}

.news-info{
    padding: 0 3rem;
}

.news-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.news-desc{
    text-align: left;
    color: var(--gray);
}

.news-form{
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem;
    margin-bottom: 0.76rem;
    gap: 0.6rem;
}

.news-email{
    background-color: var(--background-color);
    /* width: 100%; */
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}

.news-email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.news-send-button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.news-send-button:hover{
    background-color: var(--link-color);
}

.privacy-policy{
    padding: 0 3rem;
    text-align: left;
    font-size: 0.76rem;
    color: var(--gray);
}

.news-link{
    text-decoration: underline;
}

@media screen and (min-width:640px) {
    .news-title{
        font-size: 2.1rem;
    }
}

/* Footer Part */

.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding: 1rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.logo-svg{
    width: 1.8rem;
    height: 5.5rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: -1.8rem;
}

.logo-link {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-color);
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.8rem;
}

.social-icon {
    height: 1.2rem;
    width: 1.4rem;
}

.filler-text{
    font-size: 1rem;
    color: var(--dark-gray);
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    padding: 2rem 4rem;
    width: 100%;
    padding-top: 1.9rem;
}

.footer-grid-heading{
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}

ul {
    list-style: none;
}

.footer-link{
    font-size: 0.875rem;
    color: var(--dark-gray);
}

.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1rem;
    
}

.footer-copyright{
    font-size: 0.875rem;
    color: var(--dark-gray);
    padding-bottom: 2rem;
    padding-top: 1.1rem;
    border-top: 1px solid #E5E7EB;
}

@media screen and (max-width:789px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-top{
        padding-left: 3rem;
        margin-right: 5rem;
    }
    .footer-grid{
        margin-right: 3rem;
    }   
}

@media screen and (max-width: 655px) {
    .footer-top{
        padding-left: 1rem;
        margin-left: 5rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5rem;
        margin-right: 3rem;
    }
}

